
glacial-lake-detection-BAH-2025-venv/ 
.gitignore 
data
.venv/
glacial-lake-detection-BAH-2025-venv/ 
Resources/
notebooks/.ipynb_checkpoints/
notebooks/best_model.pth
notebooks/best_model_attention.pth
notebooks/attention_unet_model.pth
notebooks/test_predictions_with_stats/
notebooks/unet_final_model.pth
notebooks/hybrid_model_best.pth
notebooks/hybrid_model_v2_best.pth
notebooks/models/